.card-container {
  overflow: visible;
}

.questionnaire-card {
  cursor: pointer;
  max-width: 360px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  &:hover {
    z-index: 10;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .header {
    @extend .border-warning;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
    padding: 10px;
  }

  .dropdown-menu {
    z-index: 1050;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .card:hover .dropdown-menu,
  .dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
  }

  .name {
    @extend .text-info;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
  }

  .content {
    flex-grow: 1;
    overflow: hidden;

    .description {
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      height: 78px;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 10px;
  }
}
